{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>XaviAutoBlog</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/logo-black-two.png' %}"  sizes="32x32" />
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7COswald:300,400,500,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- styles -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/94726e6efe.js" crossorigin="anonymous"></script>
  </head>