 {% load static %}
{% load active_link_tags %}
 <!-- loading start -->
    <div class="loading">

      <img
        class="logo-loading"
        src="{% static 'images/logo/logo-white-two.png' %}"
        alt="logo"
      />
    </div>
    <!-- loading end -->

    <!-- pointer start -->
    <div class="pointer" id="pointer">
      <i class="fas fa-long-arrow-alt-right"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-link"></i>
    </div>
    <!-- pointer end -->

    <!-- to-top-btn start -->
    <a class="to-top-btn pointer-small" href="#up">
      <img src="{% static 'images/icons/car.png' %}" alt="" />
    </a>
    <!-- to-top-btn end -->

    <!-- header start -->
    <header class="fixed-header">
      <!-- header-flex-box start -->
      <div class="header-flex-box">          
        <!-- logo start -->
        <a href="{% url 'home' %}" class="logo pointer-large animsition-link">
          <div class="logo-img-box">
           
            <img
              class="logo-white"
              src="{% static 'images/logo/logo-white-two.png' %}"
              alt="logo"
            />
            <img
              class="logo-black"
              src="{% static 'images/logo/logo-black-two.png' %}"
              alt="logo"
            />
          </div> </a
        ><!-- logo end -->

        <!-- menu-open start -->
        <div class="menu-open pointer-large">
          <span class="hamburger"></span>
        </div>
        <!-- menu-open end -->
      </div>
      <!-- header-flex-box end -->
    </header>
    <!-- header end -->

    <!-- nav-container start -->
    <nav class="nav-container dark-bg-1">
      <!-- nav-logo start -->
      <div class="nav-logo">
      {% if request.user.is_authenticated %}
          
        <div class="image-circle">

        <img src="{% if request.user.profile_picture %}
        {{ request.user.profile_picture.url }}
        {% else %}
        {% static 'images/profile_picture/vw.jpg' %}
        {% endif %}"
        alt="avatar"
        class="profile-pic"
        >

       
           {% comment %} <img
            src="{{request.user.profile_picture.url}}"
           
          /> {% endcomment %}

        </div>

      
       
      
        <span class="nav-name" data-text="{{request.user.username}}"
          >{{request.user.username}}</span
        >
        <a href="{% url 'logout' %}" class="nav-border-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Log Out
        </a>
        {% else %}
        <a href="{% url 'sign_in' %}?next={{ request.path|urlencode }}" class="nav-border-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign In
        </a>  
          <a href="{% url 'sign_up' %}?next={{request.path}}" class="nav-border-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign Up
        </a>     
       {% endif %}
      </div>
     
      <!-- nav-logo end -->
      <!-- menu-close -->
      <div class="menu-close pointer-large"></div>
      <!-- dropdown-close-box start -->
      <div class="dropdown-close-box">
        <div class="dropdown-close pointer-large">
          <span></span>
        </div>
      </div>
      <!-- nav-menu start -->
      <ul class="nav-menu dark-bg-1">
        <!-- nav-box start -->
        <li class="nav-box active nav-bg-change">
          <a href="{% url 'home' %}" class="animsition-link pointer-large nav-link">
            <span class="nav-btn  {% active_link 'home' 'active' strict=True%}" data-text="Home">Home</span>
          </a>
          <div
            class="nav-bg"
            style="background-image: url({% static 'images/backgrounds/background-a.jpg' %});"
          ></div>
        </li>
        <!-- nav-box end -->
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change">
          <a href="{% url 'blog' %}" class="animsition-link pointer-large nav-link">
            <span class="nav-btn {% active_link 'blog' 'active' strict=True %}" data-text="Blog">Blog</span>
          </a>
          <div
            class="nav-bg"
            style="background-image: url({% static 'images/backgrounds/background-b.jpg' %});"
          ></div>
        </li>
        <!-- nav-box end -->
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change dropdown-open">
          <a class="pointer-large nav-link">
            <span class="nav-btn " data-text="Gallery">Gallery</span>
          </a>

          <!-- dropdown start -->
          <ul class="dropdown">
            <li class="nav-box">
              <a href="{% url 'gallery' %}" class="animsition-link pointer-large">
                <span class="nav-btn {% active_link 'gallery' 'active' strict=True %}" data-text="Photo Gallery">Photo Gallery</span>
              </a>
            </li>
            <li class="nav-box">
              <a
                href="{% url 'full_screen' %}"
                class="animsition-link pointer-large"
              >
                <span class="nav-btn {% active_link 'full_screen' 'active' strict=True %}" data-text="Photo Slide Shows">Photo Slide Shows</span>
              </a>
            </li>
          </ul>
          <!-- dropdown end -->

          <div
            class="nav-bg"
            style="background-image: url({%static 'images/backgrounds/background-c.jpg' %});"
          ></div>
        </li>
        <!-- nav-box end -->
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change">
          <a href="{% url 'portfolio' %}" class="animsition-link pointer-large nav-link">
            <span class="nav-btn {% active_link 'portfolio' 'active' strict=True %}" data-text="My Portfolio">My Portfolio</span>
          </a>
          <div
            class="nav-bg"
            style="background-image: url({% static 'images/backgrounds/background-d.jpg' %});"
          ></div>
        </li>
        <!-- nav-box end -->
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change">
          <a href="{% url 'contacts' %}" class="animsition-link pointer-large nav-link">
            <span class="nav-btn {% active_link 'contacts' 'active' strict=True %}" data-text="Contacts">Contacts</span>
          </a>
          <div
            class="nav-bg"
            style="background-image: url({% static 'images/backgrounds/background-e.jpg' %});"
          ></div>
        </li>
        <!-- nav-box end -->
      </ul>
      <!-- nav-menu end -->
    </nav>
    <!-- nav-container end -->
